@font-face {
    font-family: "My Custom Font";
    src: url(https://github.com/ryanoasis/nerd-fonts/patched-fonts/Meslo/S/Regular/MesloLGSNerdFontMono-Regular.ttf) format("truetype");
}
p.customfont { 
    font-family: "MesloLG Nerd Font", Verdana, Tahoma;
}
body {
    color: white;
    background-color: black;
}

#combo_entry {
    width: 80%;
    height: 140px;
    color: white;
    background-color: black;
    border-color: blue;
    font-size: 1.2em;
}

#translated_combo {
    white-space: pre-wrap;
    font: "MesloLG Nerd Font"
    line-height: 2em;
}
